@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #1c1c1c;
  --bg-card: #646876;
}

html {
  height: 100vh;
}

body {
  background: linear-gradient(90deg, #222229 45%, #28274a 76%, #0e0d49 88%);
  font-family: "Montserrat", sans-serif;
}

.container {
  background: #646876;
  margin: 4rem auto;
  padding: 4rem;
  border-radius: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  display: block;
  max-width: 40rem;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil > img {
  max-width: 10rem;
  max-height: 10rem;
  border-radius: 50%;
  box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.2);
}

.title {
  margin-left: 1rem;
}

.title h1 {
  font-weight: bolder;
  font-size: 1.8rem;
}

.title h3 {
  font-weight: 400;
  font-size: 1rem;
}

.title p {
  font-weight: 400;
  font-size: 0.8rem;
  color: #949494;
  margin-bottom: 0.3rem;
}

.line-1 {
  position: relative;
  width: 400px;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 400;
}

.link-icon {
  text-decoration: none;
  font-size: 1.3rem;
  color: #000000;
  transition: color 0.2s;
}

.projetos {
  margin-top: 1rem;
}

.container-projetos {
  padding: 1.1rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container-projetos h4 {
  font-size: 25px;
  margin-bottom: 1rem;
}

.container-projetos ol {
  margin-left: 1rem;
  color: #FFFFFF;
}

.container-projetos li {
  font-size: 14px;
}

.container-projetos a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #FFFFFF;
}